* {box-sizing: border-box;}
.notification {
	color: green;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.notification.error {
	color:red;
}

.blog {
	margin:8px auto;
	border:1px solid #AAA;
	border-radius:4px;
	padding:8px;
}
.titleline {
	padding-right:100px;
	position:relative;
}
.titleline button {
	position:absolute;
	right:2px;
}